/*Fonts*/

@font-face {
    src: url(../fonts/gotham/gotham-htf-light.woff);
    font-family: 'Gotham-Light';    
    font-weight: normal;
} 

@font-face {
    src: url(../fonts/gotham/gotham-htf-medium.woff);
    font-family: 'Gotham-Medium';    
    font-weight: normal;
}

@font-face {
    src: url(../fonts/gotham/gotham-htf-bold.woff);
    font-family: 'Gotham-Bold';    
    font-weight: normal;
}

@font-face {
    src: url(../fonts/gotham/gotham-htf-book.woff);
    font-family: 'Gotham-Book';    
    font-weight: normal;
}


